@import "~@angular/material/theming";
$primaryPalette: mat-palette($mat-indigo);

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
 
}

mat-nav-list{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  .mat-list-item {
    color:mat-color($primaryPalette);
    font-weight: 400;
  }
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}