

.table-container, .search-container{
    margin:40px 10vw;
}
.mat-table{
    width: 100%;
}

.tag{
    background-color:rgb(50, 50, 107);
    color:white;
    padding:2px 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.mat-progress-bar {
   margin-right: 3px;
}

.mat-row:hover .mat-cell {
    background-color: rgba(241, 238, 238, 0.932);
    cursor:pointer;
  }

  .selected{
      margin-top:30px;
  }

  @media (max-width: 500px) {
     
      .table-container{
        margin:40px 0;
      }

      .mat-cell{
          padding:0 2px;
      }
   
}