<!-- <p *ngFor= "let list of lists$ | async">{{list.title}}</p> -->
<div class="search-container">
  <mat-form-field appearance="fill" style="width:100%">
    <mat-label>Search by title</mat-label>
      <input matInput placeholder="Search by title" [formControl]="search" (keyup.enter)="OnEnter()"/>
    </mat-form-field>
    <mat-chip-list aria-label="tags">
      <mat-chip *ngFor ="let tag of tagOptions"   
                
                (click)="addTag(tag)"
                [ngStyle]="{'background-color': allTagsMap.get(tag),'color':'white'}">
                {{tag |uppercase}}</mat-chip>
    </mat-chip-list>
</div>
<div class="table-container">
  <div class="selected">
    Search results for tags:
    <mat-chip-list aria-label="tags">
      <mat-chip *ngFor ="let tag of selectedTags" 
          [ngStyle]="{'background-color': allTagsMap.get(tag),'color':'white'}"
          removable =true
          (removed)="removeTag(tag)"
          >{{tag | uppercase}}
          <button matChipRemove >
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
    </mat-chip-list>
  </div>
    <table mat-table [dataSource]="dataSource">
  
      <!-- Position Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title| uppercase}}  </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="tags">
        <th mat-header-cell *matHeaderCellDef> Tags </th>
        <td mat-cell *matCellDef="let element"> 
            <label *ngFor="let tag of element.tags" class="tag" [ngStyle]="{'background-color': allTagsMap.get(tag)}">{{tag | uppercase}}</label>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="progress">
        <th mat-header-cell *matHeaderCellDef> Progress </th>
        <td mat-cell *matCellDef="let element">  
        <div  *ngIf="element.tasksnum && element.tasksnum!=0" style="display: flex;align-items: center;"><mat-progress-bar
            class="example-margin"
            color="Primary"
             mode="determinate"
             [value]="element.taskdone/element.tasksnum*100+''"></mat-progress-bar>
             {{round(element.taskdone/element.tasksnum*100)}}%
        </div>
             </td>
      </ng-container>
  
      
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (click)="navigate(row)"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[10, 20, 50]"
                   showFirstLastButtons 
                   aria-label="Select page of  elements">
    </mat-paginator>
  </div>